<% content_for :head do %>
  <%= javascript_pack_tag 'game', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "scores_new" %>
<% end %>
<div class="score-container">
  <div class="high-score">
    <h3>Top Score: <%= @top_score %></h3>
    <h3 class="high-score-display">High Score: 0</h3>
  </div>
  <div class="current-score-container">
    <h3 class="score-display">Score: 1</h3>
  </div>
</div>
<div class="grid"></div>
